@import "tailwindcss";
@import "tw-animate-css";

@plugin 'tailwind-scrollbar';

@custom-variant dark (&:is(.dark *));

@layer utilities {
  :root {
    --background: oklch(1 0 0);
    --primary: oklch(44.14% 0.0898 245.13);
    --primary-cursor-glow: oklch(65% 0.15 245.13 / 15%);
    /* --primary-lighter: oklch(55.72% 0.0715 241.48); */
    --primary-lighter: oklch(0.6233 0.0715 241.48);
    --primary-darker: oklch(38% 0.0746 243.96);
    --foreground: oklch(0.145 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --pane-border: oklch(0.95 0 0);
    --code-editor-value: oklch(0.6 0.25 150);
    --moon: oklch(95.51% 0 0);
    --sun: oklch(84.63% 0.1594 84.98);

    --radius: 0.625rem;
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
  }
}

.dark {
  /* Dark Mode */
  /* --background: oklch(0.2 0 0); */
  --background: oklch(0.25 0 0);
  --primary: oklch(0.8148 0.2095 156.77);
  --primary-cursor-glow: oklch(40% 0.2095 156.77 / 15%);
  --primary-lighter: oklch(0.8802 0.2095 156.77);
  --primary-darker: oklch(0.6492 0.2095 156.77);
  --foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --pane-border: oklch(0.225 0 0);
  --code-editor-value: oklch(0.75 0.3 150);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --accent: oklch(0.2921 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@theme {
  --font-primary: Work Sans, sans-serif;
  --font-secondary: Poppins, sans-serif;
  --font-code: Source Code Pro, monospace;

  --background-image-pane:
    linear-gradient(90deg, var(--pane-border) 1px, #0000 0),
    linear-gradient(180deg, var(--pane-border) 1px, #0000 0);
  --background-image-pane-html: linear-gradient(
    to bottom,
    transparent,
    var(--background-color)
  );
  --rg-shadow-gradient-fuchsia: linear-gradient(
    123deg,
    #d14600 0%,
    #c300e0 50%,
    #6842ff 100%
  );

  --rg-shadow-gradient-purple: linear-gradient(
    123deg,
    #d600ba 0%,
    #6842ff 50%,
    #007e94 100%
  );

  --shadow-flag: 0 2px 10px 5px rgba(0, 0, 0, 0.07);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-cursor-glow: var(--primary-cursor-glow);
  --color-primary-lighter: var(--primary-lighter);
  --color-primary-darker: var(--primary-darker);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-moon: var(--moon);
  --color-sun: var(--sun);
  --color-code-editor-value: var(--code-editor-value);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --animate-aurora: aurora 8s ease-in-out infinite alternate;
  --animate-swipe: bodytext_module_linkSwipe 0.3s cubic-bezier(0, 0, 0.2, 1);

  @keyframes aurora {
    0% {
      background-position: 0% 50%;
      transform: rotate(-5deg) scale(0.9);
    }
    25% {
      background-position: 50% 100%;
      transform: rotate(5deg) scale(1.1);
    }
    50% {
      background-position: 100% 50%;
      transform: rotate(-3deg) scale(0.95);
    }
    75% {
      background-position: 50% 0%;
      transform: rotate(3deg) scale(1.05);
    }
    100% {
      background-position: 0% 50%;
      transform: rotate(-5deg) scale(0.9);
    }
  }

  @keyframes bodytext_module_linkSwipe {
    0% {
      background-size: 0 0.1em;
    }

    to {
      background-size: 100% 0.1em;
    }
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility scroll-smooth-thin {
  @apply scroll-smooth scrollbar-thin scrollbar-thumb-primary/60 scrollbar-track-background;
}

@utility text-normal-primary {
  @apply text-primary font-normal;
}

@utility t1 {
  @apply font-primary text-2xl lg:text-3xl text-foreground font-bold;
}

@utility t2 {
  @apply font-primary text-xl lg:text-2xl text-foreground font-semibold;
}

@utility t3 {
  @apply font-primary text-lg lg:text-xl text-foreground font-light;
}

@utility t4 {
  @apply font-primary text-base lg:text-lg text-foreground font-light;
}

@utility t5 {
  @apply font-primary text-sm lg:text-base text-foreground font-light;
}

@utility t6 {
  @apply font-primary text-sm text-foreground font-light;
}

@utility c1 {
  @apply font-code text-sm lg:text-base text-primary font-normal;
}

@utility item-desc {
  @apply t5 text-foreground lg:text-muted-foreground lg:group-hover:text-foreground duration-100;
}

@utility code-editor {
  @apply !my-0 !bg-background !rounded-none !text-xs lg:!text-sm scroll-smooth-thin;
  text-shadow: none !important;
}

@utility hero {
  background:
    linear-gradient(to right, var(--primary) 1px, transparent 1px) 0 0,
    linear-gradient(to right, var(--primary) 1px, transparent 1px) 0 100%,
    linear-gradient(to left, var(--primary) 1px, transparent 1px) 100% 0,
    linear-gradient(to left, var(--primary) 1px, transparent 1px) 100% 100%,
    linear-gradient(to bottom, var(--primary) 1px, transparent 1px) 0 0,
    linear-gradient(to bottom, var(--primary) 1px, transparent 1px) 100% 0,
    linear-gradient(to top, var(--primary) 1px, transparent 1px) 0 100%,
    linear-gradient(to top, var(--primary) 1px, transparent 1px) 100% 100%;
  @apply bg-no-repeat;
  @apply bg-[length:20px_20px];
}

@utility glass3d {
  /* background: oklch(1 0 0 / 11%); */
  box-shadow: 0 4px 30px oklch(0 0 0 / 10%);
  backdrop-filter: blur(5px);
  /* border-bottom: 1px solid oklch(1 0 0 / 30%); */
}

@utility fuchsia {
  content: "";
  position: absolute;
  inset: 0;
  filter: blur(0);
  background: var(
    --rg-shadow-gradient-fuchsia,
    linear-gradient(123deg, #fa6f00 0%, #e433ff 50%, #8575ff 100%)
  );
  border-radius: inherit;
  transform: translateZ(-1px);
  pointer-events: none;
  transition-property: filter, inset;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  background-clip: content-box;
  padding: 1px;
}

@utility purple {
  content: "";
  position: absolute;
  inset: 0;
  background: var(
    --rg-shadow-gradient-purple,
    linear-gradient(123deg, #ff1ae0 0%, #8575ff 50%, #00a4bd 100%)
  );
  border-radius: inherit;
  transform: translateZ(-1px);
  pointer-events: none;
  transition-property: filter, inset;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  background-clip: content-box;
  padding: 1px;
}

@layer base {
  html {
    @apply scroll-smooth-thin text-foreground;
  }
  body {
    @apply bg-background;
  }
  h1 {
    @apply font-secondary text-4xl lg:text-5xl text-foreground font-bold;
  }
  h2 {
    @apply font-secondary text-3xl lg:text-4xl font-bold;
  }
}

.token.entity,
.token.operator,
.token.url {
  color: var(--foreground);
}

.token.punctuation {
  color: var(--foreground);
}

.token.attr-value,
.token.char,
.token.regex,
.token.string,
.token.variable {
  color: var(--code-editor-value);
}

code[class*="language-"] {
  text-shadow: none;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
